控制台 index
<%= link_to '查看文件', web_sandbox_console.view_file_path %>
<% unless session[:pass_auth] %>
  <%= link_to '升级授权', web_sandbox_console.auth_page_path %>
<% end %>
<%= link_to '下载文件', web_sandbox_console.download_page_path %>


<div class="console margin-b-20">
  <%= form_tag(web_sandbox_console.eval_code_path, remote: true, class: 'form')  do %>
    <div class= "fl text_area_div">
      <%= text_area_tag :code, '', class: 'text_area_box'%>
    </div>
    
    <div class="submit_div">
      <div class="fr">
        <div class="margin-t-100"><input type="reset" value="重置" class='reset-button' %></div>

        <div class="margin-t-10">
          <% if session[:pass_auth] %>
            <span class="tip">授权成功(当前修改将写入数据库)</span>
          <% end %>
          <%= submit_tag '提交', data: { disable_with: "已发送，处理中..." }, class: 'send-button' %></div>
        <div class="margin-t-10"><%= submit_tag '异步执行', data: { disable_with: "已发送，处理中..." }, class: 'send-button' %></div>
      </div>
    </div>
  <% end %>
</div>

<%= button_tag '清除输出', type: 'button', onclick: "$('.output-content').empty();", class: 'clear-button' %>

<div class="output-content">
</div>
