# view_file
<%= link_to '控制台', web_sandbox_console.root_path %>
<div class="view_file">
  <%= form_tag do_view_file_path, method: :post, remote: true do %>
    <table>
      <tr>
        <td>文件/目录路径</td>
        <td>
          <%= text_field_tag :file_or_dir, nil, class: 'file_or_dir', placeholder: '请输入文件路径...'%>
        </td>
        <td>起始行数</td>
        <td><%= text_field_tag :start_line_num, nil, class: 'h30', placeholder: '默认从第1行开始...' %></td>
        <td>结束行数</td>
        <td><%= text_field_tag :end_line_num, nil, class: 'h30', placeholder: '默认从第100行结束...' %></td>
        
      </tr>
      <tr>
        <td>过滤内容</td>
        <td>
          <%= text_field_tag :grep_content, nil, class: 'file_or_dir' %>
        </td>
        <td>过滤开始时间</td>
        <td><%= text_field_tag :sed_start_time, nil, class: 'h30', placeholder: Time.current.strftime("%F %T") %></td>
        
        <td>过滤结束时间</td>
        <td><%= text_field_tag :sed_end_time, nil, class: 'h30', placeholder: Time.current.strftime("%F %T") %></td>
        <td><%= submit_tag '提交', data: { disable_with: "已发送，处理中..." }, class: 'view-file-button' %></td>
      </tr>
    </table>
  <% end %>
  <span class="tip">注意：过滤时将忽略筛选行数;过滤内容中不能出现单引号</span>
</div>

<div class="output-content">

</div>

<style type="text/css">
  
</style>