<!DOCTYPE html>
<html>
<head>
  <title>Web sandbox console</title>
  <%= stylesheet_link_tag    "web_sandbox_console/application", media: "all" %>
  <%= javascript_include_tag "web_sandbox_console/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>

<script type="text/javascript">
  <% flash.each do |type, msg| %>
    <% tip = type == 'notice' ? '提示' : '其它' %>
    alert("<%= tip %>: <%= msg %>");
  <% end %>
</script>
